# training folder
training/
training/*

test/
test/*

# pycache
src/odd/__pycache__
src/odd/utils/__pycache__

src/even/__pycache__
src/even/utils/__pycache__

# cpp build folder
src/odd/ga_lib/src/build/
src/even/ga_lib/src/build/

# data folder
src/odd/ga_lib/src/data/
src/even/ga_lib/src/data/

# external dependencies
src/odd/ga_lib/src/extern/
src/even/ga_lib/src/extern/