# training folder
training/
training/*

test/
test/*

# pycache
src/odd/__pycache__
src/odd/utils/__pycache__

src/even/__pycache__
src/even/utils/__pycache__

# cpp build folder
src/odd/ga_lib/build/
src/even/ga_lib/build/

# external dependencies
src/odd/ga_lib/extern/
src/even/ga_lib/extern/

# data folder
src/odd/ga_lib/data/*
src/even/ga_lib/data/*